@import'./resetHtmlBody';
@import'./header';
@import'./main';
@import'./footer';

    @media screen and (max-width: 760px) {
    /* nav ul{
        flex-direction: column; */
    }
    main {
        display: grid;
    }
    
    @media screen and (max-width: 365px) {
    header{
        display: grid;
        grid-template-columns: 1 fr 1fr;
    }
    
    }